$breakpointPrefixSeparator  : \: !default;

$breakpoint                 : (
  'nn'                      : null,
  'sm'                      : '640px',
  'md'                      : '768px',
  'lg'                      : '1024px',
  // 'xl'                      : '1280px',
);

$valueAbbrGlobal            : (
  propValueAbbr             : (
    // 'il'                    : 'initial',
    // 'it'                    : 'inherit',
    // 'un'                    : 'unset',
  ),
) !default;

$valueAbbrScale             : (
  propValueAbbrScale        : (
    ''                      : '',
    't'                     : 'top',
    'r'                     : 'right',
    'l'                     : 'left',
    'b'                     : 'bottom',
    'h'                     : (
      'right',
      'left',
    ),
    'v'                     : (
      'top',
      'bottom',
    ),
  ),
) !default;

$valueAuto                  : (
  propValue                 : (
    'a'                     : 'auto',
  )
) !default;

$value                      : (
  propValue                 : (
    '0'                     : 0,
    '1'                     : 4,    //'.25',
    '2'                     : 8,    //'.5',
    '3'                     : 12,   //'.75',
    '4'                     : 16,   //'1',
    '5'                     : 20,   //'1.25',
    '6'                     : 24,   //'1.5',
    '7'                     : 28,   //'1.75',
    '8'                     : 32,   //'2',
    '10'                    : 36,   //'2.25',
    '12'                    : 40,   //'2.5',
    '14'                    : 48,   //'3',
    '16'                    : 64,   //'4',
    '20'                    : 80,   //'5'
    '24'                    : 96,   //'6',
    '32'                    : 128,  //'8'
    '40'                    : 160,  //'10'
    '48'                    : 192,  //'12'
    '56'                    : 224,  //'14'
    '64'                    : 256,  //'16'
  ),
) !default;

$valueFontSize              : (
  propValue                 : (
    '1'                     : 12, //'.75',
    '2'                     : 14, //'.875',
    '3'                     : 16, //'1',
    '4'                     : 18, //'1.125',
    '5'                     : 20, //'1.25',
    '6'                     : 24, //'1.5',
    '11'                    : 28, //'1.75',
    '12'                    : 32, //'2',
    '13'                    : 36, //'2.25',
    '14'                    : 40, //'2.5',
    '15'                    : 48, //'3',
    '16'                    : 64, //'4',
  ),
) !default;

$valueBorderRadius          : (
  propValue                 : (
    '100'                   : 100,
    '200'                   : 200,
    '300'                   : 300,
    '400'                   : 400,
    '500'                   : 500,
    '600'                   : 600,
    '700'                   : 700,
    '800'                   : 800,
    '900'                   : 500,
  ),
) !default;

$valueFontStyle             : (
  propValue                 : (
    'i'                     : 'italic',
    'n'                     : 'normal',
  ),
) !default;

$valueFontWeight            : (
  propValue                 : (
    '100'                   : 100,
    '200'                   : 200,
    '300'                   : 300,
    '400'                   : 400,
    '500'                   : 500,
    '600'                   : 600,
    '700'                   : 700,
    '800'                   : 800,
    '900'                   : 500,
  ),
) !default;

$valueLineHeight            : (
  propValue                 : (
    '1'                     : 1,
    '2'                     : 1.25,
    '3'                     : 1.5,
    '4'                     : 1.75,
    '5'                     : 2,
  ),
) !default;

$valueOpacity               : (
  propValue                 : (
    '0'                     : 0,
    '1'                     : 2.5,
    '2'                     : 5,
    '3'                     : 7.5,
    '4'                     : 1,
  ),
) !default;

$valueOrder                 : (
  propValue                 : (
    '1'                     : 1,
    '2'                     : 2,
    '3'                     : 3,
    '4'                     : 4,
    '5'                     : 5,
    '6'                     : 6,
    '7'                     : 7,
    '8'                     : 8,
    '999'                   : 999,
  ),
) !default;

$valueUnitPercentage        : (
  propValue                 : (
    '10p'                   : 10,
    '20p'                   : 20,
    '25p'                   : 25,
    '30p'                   : 30,
    '33p'                   : 33.33333,
    '40p'                   : 40,
    '50p'                   : 50,
    '60p'                   : 60,
    '66p'                   : 66.66667,
    '70p'                   : 70,
    '75p'                   : 75,
    '80p'                   : 80,
    '90p'                   : 90,
    '100p'                  : 100,
  ),
) !default;

$valueUnitVh               : (
  propValue                : (
    '25vh'                 : 25,
    '50vh'                 : 50,
    '75vh'                 : 75,
    '100vh'                : 100,
  ),
) !default;

$valueUnitVw               : (
  propValue                : (
    '25vw'                 : 25,
    '50vw'                 : 50,
    '75vw'                 : 75,
    '100vw'                : 100,
  ),
) !default;
