// atom config            : bottom
// purpose                : generates atomic bottom classes

$propMap                  : (
  propName                : 'bottom',
  propNameAbbr            : 'bottom',
  propValueNegative       : 1,
  propValueUnit           : 'rem',
  propValueAuto           : 1,
);

$propMap: recursive-map-merge($propMap, $valueAuto, $config:());
$propMap: recursive-map-merge($propMap, $value, $config:());
$propMap: recursive-map-merge($propMap, $valueUnitPercentage, $config:());

@include mixin-breakpoint($propMap);
