// atom config            : order
// purpose                : generates atomic order classes

$propMap                  : (
  propName                : 'order',
  propNameAbbr            : 'ord',
);

$propMap: recursive-map-merge($propMap, $valueOrder, $config:());

@include mixin-breakpoint($propMap);
