// atom config            : display
// purpose                : generates atomic display classes

$propMap                  : (
  propName                : 'display',
  propNameAbbr            : 'd',
  propValueAbbr           : (
    'cn'                  : 'contents',
    'in'                  : 'inline',
    'b'                   : 'block',
    'ib'                  : 'inline-block',
    'f'                   : 'flex',
    'if'                  : 'inline-flex',
    'tb'                  : 'table',
    'itb'                 : 'inline-table',
    'tbc'                 : 'table-cell',
    'tbr'                 : 'table-row',
    'tbcl'                : 'table-column',
  ),
);

@include mixin-breakpoint($propMap);
