// atom config            : float
// purpose                : generates atomic float classes

$propMap                  : (
  propName                : 'float',
  propNameAbbr            : 'f',
  propValueAbbr           : (
    'r'                   : 'right',
    'l'                   : 'left',
  ),
);

@include mixin-breakpoint($propMap);
