// atom config            : height
// purpose                : generates atomic height classes

$propMap                  : (
  propName                : 'height',
  propNameAbbr            : 'h',
  propValueUnit           : 'rem',
);

$propMap: recursive-map-merge($propMap, $valueScale, $config:());
$propMap: recursive-map-merge($propMap, $valueScalePercentage, $config:());
$propMap: recursive-map-merge($propMap, $valueScaleVh, $config:());

@include mixin-breakpoint($propMap);
