// atom config            : visibility
// purpose                : generates atomic visibility classes

$propMap                  : (
  propName                : 'visibility',
  propNameAbbr            : 'v',
  propValueAbbr           : (
    'v'                   : 'visible',
    'h'                   : 'hidden',
    'c'                   : 'collapse',
  ),
);

@include mixin-breakpoint($propMap);
