// atom config            : position
// purpose                : generates atomic position classes

$propMap                  : (
  propName                : 'position',
  propNameAbbr            : 'pos',
  propValueAbbr           : (
    'a'                   : 'absolute',
    'r'                   : 'relative',
    's'                   : 'static',
    'f'                   : 'fixed',
    'st'                  : 'sticky',
  ),
);

@include mixin-breakpoint($propMap);
