// atom config            : white-space
// purpose                : generates atomic white-space classes

$propMap                  : (
  propName                : 'white-space',
  propNameAbbr            : 'whs',
  propValueAbbr           : (
    'n'                   : 'normal',
    'p'                   : 'pre',
    'nw'                  : 'nowrap',
    'pw'                  : 'pre-wrap',
    'pl'                  : 'pre-line',
  ),
);

@include mixin-breakpoint($propMap);
