// atom config            : margin
// purpose                : generates atomic margin classes

$propMap                  : (
  propName                : 'margin',
  propNameAbbr            : 'm',
  propValueNegative       : 1,
  propValueUnit           : 'rem',
);

$propMap: recursive-map-merge($propMap, $valueAbbrScale, $config:());
$propMap: recursive-map-merge($propMap, $valueScale, $config:());
$propMap: recursive-map-merge($propMap, $valueScalePercentage, $config:());

@include mixin-breakpoint($propMap);
