// atom config            : clear
// purpose                : generates atomic clear classes

$propMap                  : (
  propName                : 'clear',
  propNameAbbr            : 'cl',
  propValueAbbr           : (
    'l'                   : 'left',
    'r'                   : 'right',
    'b'                   : 'both',
  ),
);

@include mixin-breakpoint($propMap);
