// atom config            : padding
// purpose                : generates atomic padding classes

$propMap                  : (
  propName                : 'padding',
  propNameAbbr            : 'p',
  propValueUnit           : 'rem',
);

$propMap: recursive-map-merge($propMap, $valueAbbrScale, $config:());
$propMap: recursive-map-merge($propMap, $value, $config:());

@include mixin-breakpoint($propMap);
