// atom config            : width
// purpose                : generates atomic width classes

$propMap                  : (
  propName                : 'width',
  propNameAbbr            : 'w',
  propValueUnit           : 'rem',
);

$propMap: recursive-map-merge($propMap, $value, $config:());
$propMap: recursive-map-merge($propMap, $valueUnitPercentage, $config:());
$propMap: recursive-map-merge($propMap, $valueUnitVw, $config:());

@include mixin-breakpoint($propMap);
