// atom config            : cursor
// purpose                : generates atomic cursor classes

$propMap                  : (
  propName                : 'cursor',
  propNameAbbr            : 'cur',
  propValueAbbr           : (
    'a'                   : 'auto',
    'd'                   : 'default',
    'c'                   : 'crosshair',
    'ha'                  : 'hand',
    'he'                  : 'help',
    'm'                   : 'move',
    'p'                   : 'pointer',
    't'                   : 'text',
  ),
);

@include mixin-breakpoint($propMap);
