// atom config            : word-wrap
// purpose                : generates atomic word-wrap classes

$propMap                  : (
  propName                : 'word-wrap',
  propNameAbbr            : 'wow',
  propValueAbbr           : (
    'nm'                  : 'normal',
    'b'                   : 'break-word',
  ),
);

@include mixin-breakpoint($propMap);
