// a lightweight sass function that merges multidimensional maps recursively
// https://github.com/pentzzsolt/sass-recursive-map-merge

@function recursive-map-merge($map1, $map2, $config:()) {
  @if (type-of($map1)==map or (type-of($map1)==list and length($map1)==0)) and (type-of($map2)==map or (type-of($map2)==list and length($map2)==0)) {
    $result: $map1;

    @each $key,
    $value in $map2 {
      @if (type-of(map-get($result, $key))==map and type-of($value)==map) {
        $result: map-merge($result, ($key: recursive-map-merge(map-get($result, $key), $value)));
      }

      @else if (map-get($config, "merge-lists") and type-of(map-get($result, $key))==list and type-of($value)==list) {
        $result: map-merge($result, ($key: join(map-get($result, $key), $value)));
      }

      @else {
        $result: map-merge($result, ($key: $value));
      }
    }

    @return $result;
  }

  @else {
    @warn "recursive-map-merge() expects it\'s parameters to be map types!";
    @return null;
  }
}

@function isDashProp($a) {
  @if $a==''or $a==null {
    @return null;
  }

  @else {
    @return '-';
  }
}

@function isEndWithUnit($x, $y) {
  @if (map-has-key($propMap, 'propValue')) {
    @if $x=='a'or $x==0 {
      @return null;
    }

    @else if str-index($x, 'p') {
      @return '%';
    }

    @else if str-index($x, 'vh') {
      @return 'vh';
    }

    @else if str-index($x, 'vw') {
      @return 'vw';
    }

    @else if $y=='px' {
      @return 'px';
    }

    @else {
      @return $y;
    }
  }

  @else {
    @return null;
  }
}

@function isPropValue($propMap) {
  @if (map-has-key($propMap, 'propValue')) {
    @return 'propValue';
  }

  @else {
    @return 'propValueAbbr';
  }
}

@function isDashNegative($v, $w, $x, $y) {
  @if $v !='v'and $v !='h'and $w !='a'and $w !=0 and $x==$y and $y==1 {
    @return '-';
  }

  @else {
    @return null;
  }
}

@function isLoopNegative($y, $x, $z) {
  @if $z==1 and $y !='v'and $y !='h'and $x !=0 and $x !=auto {
    @return 1;
  }

  @else {
    @return 0;
  }
}

@function isAuto($x) {
  @if $x==1 {
    @return true;
  }

  @else {
    @return false;
  }
}

@function isUnit($a, $b) {
  @if str-index($a, 'p') or str-index($a, 'vw') or str-index($a, 'vh') or $b=='px' {
    @return true;
  }

  @else {
    @return false;
  }
}

@function isValue($test, $size, $x, $y) {
  @if isPropValue($test) !='propValueAbbr'and $y !=null and $size !=0 and $size !='auto' {
    @if isUnit($x, $y)==true {
      @return $size+isEndWithUnit($x, $y);
    }

    @else if isUnit($x, $y)==false {
      @return $size / 16+isEndWithUnit($x, $y);
    }
  }

  @else {
    @return $size;
  }
}
