@mixin mixin-breakpoint($propMap) {
  $propName: map-get($propMap, 'propName');
  $propNameAlias: map-get($propMap, 'propNameAlias');

  $propValueAlias: map-get($propMap, 'propValueAlias');
  $propValueScaleAlias: map-get($propMap, 'propValueScaleAlias');

  $propNegative: map-get($propMap, 'propValueNegative');

  @each $breakpointPrefix,
  $breakpointValue in $breakpoints {
    @if $breakpointValue !=null {
      @media screen and (min-width: $breakpointValue) {

        @each $x,
        $y in map-get($propMap, 'propVariant') {

          @each $xx,
          $yy in $propValueScaleAlias {

            @each $xxx,
            $yyy in map-get($propMap, isPropValue($propMap)) {
              @for $i from 0 through isLoopNegative($xx, $yyy, $propNegative) {
                .#{ $breakpointPrefix }#{ $breakpointPrefixSeparator }#{ isDashNegative($xx, $xxx, $i, $propNegative) }#{ $propNameAlias }#{ $y }#{ $xx }#{ $xxx } {
                  @if $xx=='v'or $xx=='h' {

                    @each $xxxx,
                    $yyyy in map-get($propValueScaleAlias, $xx) {
                      #{ $propName }#{ isDashProp($xx) }#{ $xxxx }#{ isDashProp($y) }#{ $y }: #{ isDashNegative($xx, $xxx, $i, $propNegative) }#{ isValue($propMap, $yyy, $xxx, $propValueUnit) };
                    }
                  }

                  @else {
                    #{ $propName }#{ isDashProp($xx) }#{ $yy }#{ isDashProp($y) }#{ $y }: #{ isDashNegative($xx, $xxx, $i, $propNegative) }#{ isValue($propMap, $yyy, $xxx, $propValueUnit) };
                  }
                }
              }
            }
          }
        }
      }
    }

    @else {

      @each $x,
      $y in map-get($propMap, 'propVariant') {

        @each $xx,
        $yy in $propValueScaleAlias {

          @each $xxx,
          $yyy in map-get($propMap, isPropValue($propMap)) {
            @for $i from 0 through isLoopNegative($xx, $yyy, $propNegative) {
              .#{ isDashNegative($xx, $xxx, $i, $propNegative) }#{ $propNameAlias }#{ $y }#{ $xx }#{ $xxx } {
                @if $xx=='v'or $xx=='h' {

                  @each $xxxx,
                  $yyyy in map-get($propValueScaleAlias, $xx) {
                    #{ $propName }#{ isDashProp($xx) }#{ $xxxx }#{ isDashProp($y) }#{ $y }: #{ isDashNegative($xx, $xxx, $i, $propNegative) }#{ isValue($propMap, $yyy, $xxx, $propValueUnit) };
                  }
                }

                @else {
                  #{ $propName }#{ isDashProp($xx) }#{ $yy }#{ isDashProp($y) }#{ $y }: #{ isDashNegative($xx, $xxx, $i, $propNegative) }#{ isValue($propMap, $yyy, $xxx, $propValueUnit) };
                }
              }
            }
          }
        }
      }
    }
  }

}
