// atom config            : text-align
// purpose                : generates atomic text-align classes

$propMap                  : (
  propName                : 'text-align',
  propNameAbbr            : 'ta',
  propValueAbbr           : (
    'r'                   : 'right',
    'c'                   : 'center',
    'l'                   : 'left',
    'j'                   : 'justify',
  ),
);

@include mixin-breakpoint($propMap);
