// atom config            : text-transform
// purpose                : generates atomic text-transform classes

$propMap                  : (
  propName                : 'text-transform',
  propNameAbbr            : 'tt',
  propValueAbbr           : (
    'c'                   : 'capitalize',
    'u'                   : 'uppercase',
    'l'                   : 'lowercase',
  ),
);

@include mixin-breakpoint($propMap);
